
div#crud
    div#crudContent
        div#crudList.Tags    
            h2#crudListTitle Tags

            div#crudListSearch
                form(action="#", method="GET", accept-charset="utf-8")
                    input(type="text", name="search", value="")
                    input(type="submit", value="Search")

            div#crudListTable
                table
                    thead
                        tr: th Tags
                    - var i = 0;
                    tbody
                         each tag, i in allTags 
                            tr(class=(i % 2 == 0) ? 'odd' : 'even') 
                                a(href='/admin/tag/' + tag) #{tag}
            div#crudListPagination
                p.crudCount #{allTags.length} tags

            p#crudListAdd
                a(href="/admin/tag") Add Tag
